/* CSS Reset */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: Arial, sans-serif;
    background:#f4f6f9;
    text-align:center;
}

h1{
    margin:20px;
}


/* Data input */
input{
    padding:5px;
    margin:5px;
}

#add-process-btn{
    padding:6px 12px;
    border:none;
    background:#333;
    color:white;
    cursor:pointer;
}

#add-process-btn:hover{
    background:#555;
}


.container{
    display:flex;
    justify-content:space-around;
    margin-top:20px;
}

.memory-container, .queue-container{
    border-radius: 8px;
    background-color: rgb(197, 193, 193);
    padding: 1rem;

    h2{
        margin-bottom: 1rem;
    }
}

#memory, #queue{
    width:300px;
    
    background-color:white;
    border:2px solid #333;
    padding:10px;
    
}


/* Below refers to dynamic styles with JS */

.memory-row{
    background-color: #d0d0d0;
    color: black;
    margin: 4px 0 4px 0;
}

.used{
    background:#4caf50;
    color:white;
}

.delete-btn{
    background:#e53935;
    cursor:pointer;
}

/* .process{
    background:#2196f3;
    color:white;
    padding:5px;
    margin:5px 0;
} */